<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Building List</title>
    <th:block th:replace="~{admin/common/header :: header}"></th:block>
</head>
<body class="no-skin" style="font-family: 'Abel', sans-serif;">
    <th:block th:replace="~{admin/common/menu :: menu}"></th:block>
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try {
                ace.settings.check('main-container', 'fixed')
            } catch (e) {
            }
        </script>
        <th:block th:replace="~{admin/common/sidebar :: sidebar}"></th:block>
        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs" id="breadcrumbs">
                    <script type="text/javascript">
                        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
                    </script>

                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="#">Home</a>
                        </li>
                        <li class="active">Dashboard</li>
                    </ul><!-- /.breadcrumb -->
                </div>

                <div class="page-content">
                    <div class="page-header">
                        <h1>
                            Danh sách tòa nhà
                            <small>
                                <i class="ace-icon fa fa-angle-double-right"></i>
                                overview &amp; stats
                            </small>
                        </h1>
                    </div><!-- /.page-header -->
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <form class="form-horizontal" method="GET"
                                  th:action="@{/admin/buildings/list}" id="building-search-form" th:object="${buildingSearchRequest}">
                                <div class="widget-box">
                                    <div class="widget-header">
                                        <h4 class="widget-title">Tìm kiếm</h4>

                                        <span class="widget-toolbar">
											<a href="#" data-action="reload">
												<i class="ace-icon fa fa-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="ace-icon fa fa-chevron-up"></i>
											</a>

											<a href="#" data-action="close">
												<i class="ace-icon fa fa-times"></i>
											</a>
										</span>
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <div class="row">
                                                <input type="hidden" name="page" id="page" th:value="${buildingSearchRequest.page}">
                                                <div class="form-group">
                                                    <div class="col-xs-12">
                                                        <div class="col-xs-6">
                                                            <label for="name">Tên tòa nhà</label>
                                                            <input type="text" id="name" name="name"
                                                                   class="form-control"
                                                                   th:value="${buildingSearchRequest.name}"/>
                                                        </div>

                                                        <div class="col-xs-6">
                                                            <label for="floorArea">Diện tích sàn</label>
                                                            <input type="number" id="floorArea" name="floorArea"
                                                                   class="form-control"
                                                                   th:value="${buildingSearchRequest.floorArea}"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-xs-12">
                                                        <div class="col-xs-2">
                                                            <label for="district">Quận</label>
                                                            <select name="district" class="form-control"
                                                                    id="district">
                                                                <option value="">--Chọn quận--</option>
                                                                <option th:each="d : ${districts}"
                                                                        th:value="${d.key}"
                                                                        th:text="${d.value}"
                                                                        th:selected="${d.key == buildingSearchRequest.district}"></option>
                                                            </select>
                                                        </div>
                                                        <div class="col-xs-5">
                                                            <label for="ward">Phường</label>
                                                            <input type="text" id="ward" name="ward"
                                                                   class="form-control" th:value="${buildingSearchRequest.ward}"/>
                                                        </div>
                                                        <div class="col-xs-5">
                                                            <label for="street">Đường</label>
                                                            <input type="text" id="street" name="street"
                                                                   class="form-control" th:value="${buildingSearchRequest.street}"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-xs-12">
                                                        <div class="col-xs-4">
                                                            <label for="numberOfBasement">Số tầng hầm</label>
                                                            <input type="number" id="numberOfBasement"
                                                                   name="numberOfBasement" class="form-control"
                                                                   th:value="${buildingSearchRequest.numberOfBasement}"/>
                                                        </div>

                                                        <div class="col-xs-4">
                                                            <label for="direction">Hướng</label>
                                                            <input type="text" id="direction" name="direction"
                                                                   class="form-control" th:value="${buildingSearchRequest.direction}"/>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <label for="level">Hạng</label>
                                                            <input type="text" id="level" name="level"
                                                                   class="form-control" th:value="${buildingSearchRequest.level}"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-xs-12">
                                                        <div class="col-xs-3">
                                                            <label for="areaFrom">Diện tích từ</label>
                                                            <input type="number" id="areaFrom" name="areaFrom"
                                                                   class="form-control"
                                                                   th:value="${buildingSearchRequest.areaFrom}"/>
                                                        </div>

                                                        <div class="col-xs-3">
                                                            <label for="areaTo">Diện tích đến</label>
                                                            <input type="number" id="areaTo" name="areaTo"
                                                                   class="form-control"
                                                                   th:value="${buildingSearchRequest.areaTo}"/>
                                                        </div>
                                                        <div class="col-xs-3">
                                                            <label for="rentPriceFrom">Giá thuê từ</label>
                                                            <input type="number" id="rentPriceFrom" name="rentPriceFrom"
                                                                   class="form-control"
                                                                   th:value="${buildingSearchRequest.rentPriceFrom}"/>
                                                        </div>
                                                        <div class="col-xs-3">
                                                            <label for="rentPriceTo">Giá thuê đến</label>
                                                            <input type="number" id="rentPriceTo" name="rentPriceTo"
                                                                   class="form-control"
                                                                   th:value="${buildingSearchRequest.rentPriceTo}"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-xs-12">
                                                        <div class="col-xs-5">
                                                            <label for="managerName">Tên quản lí</label>
                                                            <input type="text" id="managerName" name="managerName"
                                                                   class="form-control"
                                                                   th:value="${buildingSearchRequest.managerName}"/>
                                                        </div>

                                                        <div class="col-xs-5">
                                                            <label for="managerPhone">SDT quản lí</label>
                                                            <input type="text" id="managerPhone"
                                                                   name="managerPhone" class="form-control"
                                                                   th:value="${buildingSearchRequest.managerPhone}"/>
                                                        </div>
                                                        <th:block sec:authorize="hasRole('ROLE_MANAGER')">
                                                            <div class="col-xs-2">
                                                                <label for="staffId">Chọn nhân viên</label>
                                                                <select name="staffId" id="staffId"
                                                                        class="form-control">
                                                                    <option value="">-- Chọn nhân viên --</option>
                                                                    <option th:each="staff : ${staffs}"
                                                                            th:value="${staff.key}"
                                                                            th:text="${staff.value}"
                                                                            th:selected="${staff.key == buildingSearchRequest.staffId}">
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </th:block>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-xs-12">
                                                        <div class="col-xs-2" th:each=" type : ${rentTypes}">
                                                            <label>
                                                                <input type="checkbox" name="typeCode"
                                                                       th:value="${type.key}"
                                                                       th:text="${type.value}"
                                                                       th:checked="${buildingSearchRequest.typeCode != null and buildingSearchRequest.typeCode.contains(type.key)}">
                                                            </label>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-xs-12">
                                                        <div class="col-xs-6">
                                                            <button class="btn btn-sm btn-success"
                                                                    id="btnSearchBuilding">
                                                                <i class="ace-icon glyphicon glyphicon-search"></i>
                                                                Tìm kiếm
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="pull-right">
                                <a href="/admin/buildings/edit" class="btn btn-app btn-success btn-sm"
                                   title="Thêm tòa nhà">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-building-add" viewBox="0 0 16 16">
                                        <path
                                                d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0" />
                                        <path
                                                d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1z" />
                                        <path
                                                d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z" />
                                    </svg>
                                </a>
                                <th:block sec:authorize="hasRole('ROLE_MANAGER')">
                                    <button class="btn btn-app btn-danger btn-sm" title="Xóa tòa nhà"
                                            id="btnDeleteBuilding">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                             class="bi bi-building-dash" viewBox="0 0 16 16">
                                            <path
                                                    d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1" />
                                            <path
                                                    d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1z" />
                                            <path
                                                    d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z" />
                                        </svg>
                                    </button>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="buildingList" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="center">
                                        <label class="pos-rel">
                                            <input type="checkbox" class="ace">
                                            <span class="lbl"></span>
                                        </label>
                                    </th>
                                    <th>Tên tòa nhà</th>
                                    <th>Địa chỉ</th>
                                    <th>Số tầng hầm</th>
                                    <th>Tên quản lí</th>
                                    <th>SDT quản lí</th>
                                    <th>Diện tích sàn</th>
                                    <th>Diện tích thuê</th>
                                    <th>Diện tích trống</th>
                                    <th>Giá thuê</th>
                                    <th>Phí dịch vụ</th>
                                    <th>Phí môi giới</th>
                                    <th>Thao tác</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="building : ${result.getList()}">
                                    <td class="center">
                                        <label class="pos-rel">
                                            <input type="checkbox" class="ace" th:value="${building.id}">
                                            <span class="lbl"></span>
                                        </label>
                                    </td>
                                    <td th:text="${building.name}"></td>
                                    <td th:text="${building.address}"></td>
                                    <td th:text="${building.numberOfBasement}"></td>
                                    <td th:text="${building.managerName}"></td>
                                    <td th:text="${building.managerPhone}"></td>
                                    <td th:text="${building.floorArea}"></td>
                                    <td th:text="${building.rentArea}"></td>
                                    <td th:text="${building.emptyArea}"></td>
                                    <td th:text="${building.price}"></td>
                                    <td th:text="${building.serviceFee}"></td>
                                    <td th:text="${building.brokerageFee}"></td>
                                    <td>
                                        <div class="hidden-sm hidden-xs btn-group">
                                            <th:block sec:authorize="hasRole('ROLE_MANAGER')">
                                                <button class="btn btn-xs btn-success" title="Giao tào nhà"
                                                        th:onclick="|assignmentBuilding(${building.id})|">
                                                    <i class="ace-icon fa fa-users"></i>
                                                </button>
                                            </th:block>

                                            <a th:href="@{/admin/buildings/{id}/update(id=${building.id})}" class="btn btn-xs btn-info" title="Sửa thông tin tòa nhà">
                                                <i class="ace-icon fas fa-pencil-alt bigger-120"></i>
                                            </a>

                                            <th:block sec:authorize="hasRole('ROLE_MANAGER')">
                                                <button class="btn btn-xs btn-danger" title="Xóa tòa nhà"
                                                        th:onclick="|deleteBuilding(${building.id})|">
                                                    <i class="ace-icon fas fa-trash bigger-120"></i>
                                                </button>
                                            </th:block>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="page-navigator" th:if="${result.totalPages > 1}">
                                <th:block th:each="page: ${result.navigationPages}">
                                    <a th:if="${page != -1}"
                                       class="nav-item"
                                       th:classappend="${page == result.currentPage} ? 'active-page' : ''"
                                       href="javascript:void(0)"
                                       th:data-page="${page}"
                                       th:text="${page}"
                                       onclick="gotoPage(this)">
                                    </a>
                                    <span th:if="${page == -1}" class="nav-item"> ... </span>
                                </th:block>
                            </div>
                        </div><!-- /.span -->
                    </div>
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->
        <th:block th:replace="~{admin/common/footer :: footer}"></th:block>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="assignmentBuildingModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Danh sách nhân viên</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="staffList" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace">
                                    <span class="lbl"></span>
                                </label>
                            </th>
                            <th class="center">Tên nhân viên</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAssignBuilding">Giao tòa nhà</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <input type="hidden" id="buildingId" value="">
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="~{admin/common/common-scripts :: jquery}"></th:block>
    <script>

        function gotoPage(element){
            $(".page-navigator .nav-item").removeClass("active-page");
            $(element).addClass("active-page");
            const page = $(element).data("page");
            $('#page').val(page);
            $('#building-search-form').submit();
        }

        function assignmentBuilding(buildingId) {
            console.log('Assignment building with id: ', buildingId);
            $('#assignmentBuildingModal').modal('show');
            $('#buildingId').val(buildingId);
            loadStaff(buildingId);
        }

        $('#btnAssignBuilding').click(function (e){
            e.preventDefault();
            const buildingId = $('#buildingId').val();

            if(!buildingId){
                alert("Building Id not found");
                return;
            }
            const staffId = [];
            $('#staffList tbody input[type="checkbox"]:checked').each(function () {
                staffId.push($(this).val());
            });

            const json = {};
            json['buildingId'] = buildingId;
            json['staffIds'] = staffId;
            sendRequestAssignBuilding(json);
        });

        function sendRequestAssignBuilding(json){
            $.ajax({
                url: '/api/buildings/assign',
                type: 'PUT',
                timeout: 10000,
                data: JSON.stringify(json),
                contentType: 'application/json',
                dataType: 'json',
                success: function (response) {
                    alert(response.message);
                },
                error: function (response) {
                    alert(response.responseJSON.detail.join('\n'));
                }
            });
        }
        function loadStaff(buildingId){
            $.ajax({
                url: '/api/buildings' + '/' + buildingId + '/staff',
                type: 'GET',
                timeout: 10000,
                dataType: 'json',
                success: function (response) {
                    let row = '';
                    $.each(response.data, function (i, staff){
                        row += '<tr>';
                        row += '<td class="center">';
                        row += '<label class="pos-rel"><input type="checkbox" class="ace" value="' + staff.id + '" ' + staff.checked + '><span class="lbl"></span>';
                        row += '</label>';
                        row += '</td>';
                        row += '<td class="center">' + staff.userName + '</td>';
                        row += '</tr>'
                    });

                    $('#staffList tbody').html(row);
                },
                error: function (response) {
                    alert(response.responseJSON.detail.join('\n'));
                }
            });
        }
        $('#btnSearchBuilding').click(function (e) {
            e.preventDefault(); // Ngan chặn hành động mặc định của nút submit
            $('#page').val(1);
            $('#building-search-form').submit(); // Gửi form sau khi đã ngăn chặn hành động mặc định

        });

        function deleteBuilding(buildingId) {
            if (confirm('Bạn có chắc muốn xóa tòa nhà này chứ?')) {
                requestDeleteBuilding([buildingId]);
            }
        }

        $('#btnDeleteBuilding').click(function (e) {
            e.preventDefault();
            const selectedBuildingIds = [];
            $('#buildingList tbody input[type="checkbox"]:checked').each(function () {
                selectedBuildingIds.push($(this).val());
            });
            console.log('Selected building ID for deletion: ', selectedBuildingIds);
            if (selectedBuildingIds.length === 0) {
                alert('Vui lòng chọn ít nhát một tòa nhà để xóa');
                return;
            }
            if (confirm('Bạn có chắc muốn xóa các tòa nhà đã chọn?')) {
                requestDeleteBuilding(selectedBuildingIds);
            }
        });

        function requestDeleteBuilding(selectedBuildingIds) {
            $.ajax({
                url: '/api/buildings' + '/' + selectedBuildingIds.join(','),
                type: 'DELETE',
                timeout: 10000,
                dataType: 'json',
                success: function (response) {
                    alert(response.message);
                    window.location.href = '/admin/buildings/list';
                },
                error: function (response) {
                    alert(response.responseJSON.detail.join('\n'));
                }
            });
        }
    </script>
</body>
</html>